# Ignore build files
x64/
Debug/
Release/

# Ignore Visual Studio files
.vs/
*.vcxproj.user
*.suo
*.userosscache
*.sln.docstates

# Ignore CMake build files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
